set_location cntDiv_RNIETOH[25] 23 22 4 # SB_LUT4 (LogicCell: cntDiv_RNIETOH[25]_LC_0)
set_location cntDiv_RNO[0] 21 20 1 # SB_LUT4 (LogicCell: cntDiv[0]_LC_1)
set_location cntDiv[0] 21 20 1 # SB_DFF (LogicCell: cntDiv[0]_LC_1)
set_location cntDiv_RNO[1] 21 20 0 # SB_LUT4 (LogicCell: cntDiv[1]_LC_2)
set_location cntDiv[1] 21 20 0 # SB_DFF (LogicCell: cntDiv[1]_LC_2)
set_location cntDiv_RNO[10] 22 18 1 # SB_LUT4 (LogicCell: cntDiv[10]_LC_3)
set_location cntDiv[10] 22 18 1 # SB_DFF (LogicCell: cntDiv[10]_LC_3)
set_location un2_cntdiv_cry_10_c 22 18 1 # SB_CARRY (LogicCell: cntDiv[10]_LC_3)
set_location cntDiv_RNO[11] 22 18 2 # SB_LUT4 (LogicCell: cntDiv[11]_LC_4)
set_location cntDiv[11] 22 18 2 # SB_DFF (LogicCell: cntDiv[11]_LC_4)
set_location un2_cntdiv_cry_11_c 22 18 2 # SB_CARRY (LogicCell: cntDiv[11]_LC_4)
set_location cntDiv_RNO[12] 22 18 3 # SB_LUT4 (LogicCell: cntDiv[12]_LC_5)
set_location cntDiv[12] 22 18 3 # SB_DFF (LogicCell: cntDiv[12]_LC_5)
set_location un2_cntdiv_cry_12_c 22 18 3 # SB_CARRY (LogicCell: cntDiv[12]_LC_5)
set_location cntDiv_RNO[13] 22 18 4 # SB_LUT4 (LogicCell: cntDiv[13]_LC_6)
set_location cntDiv[13] 22 18 4 # SB_DFF (LogicCell: cntDiv[13]_LC_6)
set_location un2_cntdiv_cry_13_c 22 18 4 # SB_CARRY (LogicCell: cntDiv[13]_LC_6)
set_location cntDiv_RNO[14] 22 18 5 # SB_LUT4 (LogicCell: cntDiv[14]_LC_7)
set_location cntDiv[14] 22 18 5 # SB_DFF (LogicCell: cntDiv[14]_LC_7)
set_location un2_cntdiv_cry_14_c 22 18 5 # SB_CARRY (LogicCell: cntDiv[14]_LC_7)
set_location cntDiv_RNO[15] 22 18 6 # SB_LUT4 (LogicCell: cntDiv[15]_LC_8)
set_location cntDiv[15] 22 18 6 # SB_DFF (LogicCell: cntDiv[15]_LC_8)
set_location un2_cntdiv_cry_15_c 22 18 6 # SB_CARRY (LogicCell: cntDiv[15]_LC_8)
set_location cntDiv_RNO[16] 22 18 7 # SB_LUT4 (LogicCell: cntDiv[16]_LC_9)
set_location cntDiv[16] 22 18 7 # SB_DFF (LogicCell: cntDiv[16]_LC_9)
set_location un2_cntdiv_cry_16_c 22 18 7 # SB_CARRY (LogicCell: cntDiv[16]_LC_9)
set_location cntDiv_RNO[17] 22 19 0 # SB_LUT4 (LogicCell: cntDiv[17]_LC_10)
set_location cntDiv[17] 22 19 0 # SB_DFF (LogicCell: cntDiv[17]_LC_10)
set_location un2_cntdiv_cry_17_c 22 19 0 # SB_CARRY (LogicCell: cntDiv[17]_LC_10)
set_location cntDiv_RNO[18] 22 19 1 # SB_LUT4 (LogicCell: cntDiv[18]_LC_11)
set_location cntDiv[18] 22 19 1 # SB_DFF (LogicCell: cntDiv[18]_LC_11)
set_location un2_cntdiv_cry_18_c 22 19 1 # SB_CARRY (LogicCell: cntDiv[18]_LC_11)
set_location cntDiv_RNO[19] 22 19 2 # SB_LUT4 (LogicCell: cntDiv[19]_LC_12)
set_location cntDiv[19] 22 19 2 # SB_DFF (LogicCell: cntDiv[19]_LC_12)
set_location un2_cntdiv_cry_19_c 22 19 2 # SB_CARRY (LogicCell: cntDiv[19]_LC_12)
set_location cntDiv_RNO[2] 22 17 1 # SB_LUT4 (LogicCell: cntDiv[2]_LC_13)
set_location cntDiv[2] 22 17 1 # SB_DFF (LogicCell: cntDiv[2]_LC_13)
set_location un2_cntdiv_cry_2_c 22 17 1 # SB_CARRY (LogicCell: cntDiv[2]_LC_13)
set_location cntDiv_RNO[20] 22 19 3 # SB_LUT4 (LogicCell: cntDiv[20]_LC_14)
set_location cntDiv[20] 22 19 3 # SB_DFF (LogicCell: cntDiv[20]_LC_14)
set_location un2_cntdiv_cry_20_c 22 19 3 # SB_CARRY (LogicCell: cntDiv[20]_LC_14)
set_location cntDiv_RNO[21] 22 19 4 # SB_LUT4 (LogicCell: cntDiv[21]_LC_15)
set_location cntDiv[21] 22 19 4 # SB_DFF (LogicCell: cntDiv[21]_LC_15)
set_location un2_cntdiv_cry_21_c 22 19 4 # SB_CARRY (LogicCell: cntDiv[21]_LC_15)
set_location cntDiv_RNO[22] 22 19 5 # SB_LUT4 (LogicCell: cntDiv[22]_LC_16)
set_location cntDiv[22] 22 19 5 # SB_DFF (LogicCell: cntDiv[22]_LC_16)
set_location un2_cntdiv_cry_22_c 22 19 5 # SB_CARRY (LogicCell: cntDiv[22]_LC_16)
set_location cntDiv_RNO[23] 22 19 6 # SB_LUT4 (LogicCell: cntDiv[23]_LC_17)
set_location cntDiv[23] 22 19 6 # SB_DFF (LogicCell: cntDiv[23]_LC_17)
set_location un2_cntdiv_cry_23_c 22 19 6 # SB_CARRY (LogicCell: cntDiv[23]_LC_17)
set_location cntDiv_RNO[24] 22 19 7 # SB_LUT4 (LogicCell: cntDiv[24]_LC_18)
set_location cntDiv[24] 22 19 7 # SB_DFF (LogicCell: cntDiv[24]_LC_18)
set_location cntDiv_RNO[3] 22 17 2 # SB_LUT4 (LogicCell: cntDiv[3]_LC_19)
set_location cntDiv[3] 22 17 2 # SB_DFF (LogicCell: cntDiv[3]_LC_19)
set_location un2_cntdiv_cry_3_c 22 17 2 # SB_CARRY (LogicCell: cntDiv[3]_LC_19)
set_location cntDiv_RNO[4] 22 17 3 # SB_LUT4 (LogicCell: cntDiv[4]_LC_20)
set_location cntDiv[4] 22 17 3 # SB_DFF (LogicCell: cntDiv[4]_LC_20)
set_location un2_cntdiv_cry_4_c 22 17 3 # SB_CARRY (LogicCell: cntDiv[4]_LC_20)
set_location cntDiv_RNO[5] 22 17 4 # SB_LUT4 (LogicCell: cntDiv[5]_LC_21)
set_location cntDiv[5] 22 17 4 # SB_DFF (LogicCell: cntDiv[5]_LC_21)
set_location un2_cntdiv_cry_5_c 22 17 4 # SB_CARRY (LogicCell: cntDiv[5]_LC_21)
set_location cntDiv_RNO[6] 22 17 5 # SB_LUT4 (LogicCell: cntDiv[6]_LC_22)
set_location cntDiv[6] 22 17 5 # SB_DFF (LogicCell: cntDiv[6]_LC_22)
set_location un2_cntdiv_cry_6_c 22 17 5 # SB_CARRY (LogicCell: cntDiv[6]_LC_22)
set_location cntDiv_RNO[7] 22 17 6 # SB_LUT4 (LogicCell: cntDiv[7]_LC_23)
set_location cntDiv[7] 22 17 6 # SB_DFF (LogicCell: cntDiv[7]_LC_23)
set_location un2_cntdiv_cry_7_c 22 17 6 # SB_CARRY (LogicCell: cntDiv[7]_LC_23)
set_location cntDiv_RNO[8] 22 17 7 # SB_LUT4 (LogicCell: cntDiv[8]_LC_24)
set_location cntDiv[8] 22 17 7 # SB_DFF (LogicCell: cntDiv[8]_LC_24)
set_location un2_cntdiv_cry_8_c 22 17 7 # SB_CARRY (LogicCell: cntDiv[8]_LC_24)
set_location cntDiv_RNO[9] 22 18 0 # SB_LUT4 (LogicCell: cntDiv[9]_LC_25)
set_location cntDiv[9] 22 18 0 # SB_DFF (LogicCell: cntDiv[9]_LC_25)
set_location un2_cntdiv_cry_9_c 22 18 0 # SB_CARRY (LogicCell: cntDiv[9]_LC_25)
set_location counter1.Pre_Q_RNO[0] 24 22 7 # SB_LUT4 (LogicCell: counter1.Pre_Q[0]_LC_26)
set_location counter1.Pre_Q[0] 24 22 7 # SB_DFFE (LogicCell: counter1.Pre_Q[0]_LC_26)
set_location counter1.Pre_Q_RNO[1] 23 21 5 # SB_LUT4 (LogicCell: counter1.Pre_Q[1]_LC_27)
set_location counter1.Pre_Q[1] 23 21 5 # SB_DFFE (LogicCell: counter1.Pre_Q[1]_LC_27)
set_location counter1.Pre_Q_RNO[2] 24 22 2 # SB_LUT4 (LogicCell: counter1.Pre_Q[2]_LC_28)
set_location counter1.Pre_Q[2] 24 22 2 # SB_DFFE (LogicCell: counter1.Pre_Q[2]_LC_28)
set_location counter1.Pre_Q_RNO[3] 24 21 4 # SB_LUT4 (LogicCell: counter1.Pre_Q[3]_LC_29)
set_location counter1.Pre_Q[3] 24 21 4 # SB_DFFE (LogicCell: counter1.Pre_Q[3]_LC_29)
set_location display.S_1_7_0_.m11 32 21 7 # SB_LUT4 (LogicCell: display.S_1_7_0_.m11_LC_30)
set_location display.S_1_7_0_.m13 32 22 4 # SB_LUT4 (LogicCell: display.S_1_7_0_.m13_LC_31)
set_location display.S_1_7_0_.m15 32 21 4 # SB_LUT4 (LogicCell: display.S_1_7_0_.m15_LC_32)
set_location display.S_1_7_0_.m16 32 22 5 # SB_LUT4 (LogicCell: display.S_1_7_0_.m16_LC_33)
set_location display.S_1_7_0_.m18 32 22 3 # SB_LUT4 (LogicCell: display.S_1_7_0_.m18_LC_34)
set_location display.S_1_7_0_.m19 32 22 0 # SB_LUT4 (LogicCell: display.S_1_7_0_.m19_LC_35)
set_location display.S_1_7_0_.m2 32 21 5 # SB_LUT4 (LogicCell: display.S_1_7_0_.m2_LC_36)
set_location display.S_1_7_0_.m6 32 21 0 # SB_LUT4 (LogicCell: display.S_1_7_0_.m6_LC_37)
set_location un2_cntdiv_1_cry_24_c_RNI73PB 22 23 0 # SB_LUT4 (LogicCell: un2_cntdiv_1_cry_24_c_RNI73PB_LC_38)
set_location cntDiv_25_THRU_LUT4_0 23 23 1 # SB_LUT4 (LogicCell: cntDiv[25]_LC_39)
set_location cntDiv[25] 23 23 1 # SB_DFF (LogicCell: cntDiv[25]_LC_39)
set_location un2_cntdiv_1_cry_10_c 22 21 1 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_10_c_LC_40)
set_location un2_cntdiv_1_cry_11_c 22 21 2 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_11_c_LC_41)
set_location un2_cntdiv_1_cry_12_c 22 21 3 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_12_c_LC_42)
set_location un2_cntdiv_1_cry_13_c 22 21 4 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_13_c_LC_43)
set_location un2_cntdiv_1_cry_14_c 22 21 5 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_14_c_LC_44)
set_location un2_cntdiv_1_cry_15_c 22 21 6 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_15_c_LC_45)
set_location un2_cntdiv_1_cry_16_c 22 21 7 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_16_c_LC_46)
set_location un2_cntdiv_1_cry_17_c 22 22 0 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_17_c_LC_47)
set_location un2_cntdiv_1_cry_18_c 22 22 1 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_18_c_LC_48)
set_location un2_cntdiv_1_cry_19_c 22 22 2 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_19_c_LC_49)
set_location un2_cntdiv_1_cry_1_c 22 20 0 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_1_c_LC_50)
set_location un2_cntdiv_1_cry_20_c 22 22 3 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_20_c_LC_51)
set_location un2_cntdiv_1_cry_21_c 22 22 4 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_21_c_LC_52)
set_location un2_cntdiv_1_cry_22_c 22 22 5 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_22_c_LC_53)
set_location un2_cntdiv_1_cry_23_c 22 22 6 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_23_c_LC_54)
set_location un2_cntdiv_1_cry_24_c 22 22 7 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_24_c_LC_55)
set_location un2_cntdiv_1_cry_2_c 22 20 1 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_2_c_LC_56)
set_location un2_cntdiv_1_cry_3_c 22 20 2 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_3_c_LC_57)
set_location un2_cntdiv_1_cry_4_c 22 20 3 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_4_c_LC_58)
set_location un2_cntdiv_1_cry_5_c 22 20 4 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_5_c_LC_59)
set_location un2_cntdiv_1_cry_6_c 22 20 5 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_6_c_LC_60)
set_location un2_cntdiv_1_cry_7_c 22 20 6 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_7_c_LC_61)
set_location un2_cntdiv_1_cry_8_c 22 20 7 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_8_c_LC_62)
set_location un2_cntdiv_1_cry_9_c 22 21 0 # SB_CARRY (LogicCell: un2_cntdiv_1_cry_9_c_LC_63)
set_location un2_cntdiv_cry_1_c 22 17 0 # SB_CARRY (LogicCell: un2_cntdiv_cry_1_c_LC_64)
set_io DIGIT1_obuf 33 31 0 # ICE_IO
set_io DIGIT2_obuf 33 24 0 # ICE_IO
set_io DIGIT3_obuf 33 28 0 # ICE_IO
set_io DIGIT4_obuf 33 30 0 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io Y_obuf[0] 33 17 0 # ICE_IO
set_io Y_obuf[1] 33 20 0 # ICE_IO
set_io Y_obuf[2] 33 19 0 # ICE_IO
set_io Y_obuf[3] 33 22 0 # ICE_IO
set_io Y_obuf[4] 33 21 0 # ICE_IO
set_io Y_obuf[5] 33 27 1 # ICE_IO
set_io Y_obuf[6] 33 23 0 # ICE_IO
set_io Y_obuf[7] 33 26 0 # ICE_IO
set_io mclock_ibuf_gb_io 0 16 1 # ICE_GB_IO
set_location CONSTANT_ONE_LUT4 32 28 1 # SB_LUT4 (LogicCell: LC_65)
